@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    letter-spacing: .5rem;
    background: linear-gradient(to right, rgb(181, 222, 255) , rgb(217, 152, 255)); /* Standard syntax */
}

body * {
    padding: 1rem;
}

.random {
    margin-top: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inputs {
    flex-direction: row;
}

input {
    height: 3rem;
    width: 3rem;
    padding: .1rem;
}

h1 {
    font: 600 3rem 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    letter-spacing: .5rem;
}

h3 {
    font: 900 1rem 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-transform: none;
    letter-spacing: 0.01rem;
}